<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav>
    <div class="nav-wrapper">
      <%= link_to "Home", root_url,class: "navbar-brand" %>
      <ul id="nav-moblie" class="right hide-on-med-and-down">

         <li><a href="https://www.google.com/">Google</a></li>

        <li> <%= link_to "Products", pages_productsPage_path,class: "navbar-brand" %></li>
        <li> <%= link_to "Customers", pages_customersPage_path,class: "navbar-brand" %></li>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
